<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Tirth Patel - Video</title>
</head>

<body>
  <header>  
    <h1>Welcome to the Video Page</h1>
    <p>Watch a video using the HTML5 video player.</p>
  </header>

  <section>
    <h2>Video Player</h2>
  
      <video controls>
        <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/movie.mp4" type="video/mp4">
        <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/movie.ogg" type="video/ogg">
        Your browser does not support the video element.
      </video>
    
  </section>

  <p>
    The video player above allows you to watch a selected video. Enjoy the content!
  </p>
</body>

</html>
